//Бордеры
bdrOne(color)
  border 1px solid color

bdr(side,color,size=1px)
  border-{side}: size solid color

// тени
ts(opaciti, color=$gray)
  text-shadow: 1px 1px 0px rgba(color,  opaciti);

bs(opaciti, color=$gray, colorBdr=$gray, color=$gray, direction=inset, thickness=-2px)
  box-shadow: 3px 3px 7px 0 rgba(color, opaciti), direction 0 thickness 0 0 colorBdr;


//Анимация
trns(time, obj)
  transition  obj time