
//Формы
input[type=text]
    border: 1px solid $grayLight
    border-radius 2px
    box-shadow: 0 1px 3px rgba($gray, 0.5) inset;
    padding 2px 2px 2px 5px

input[type=submit]
    border: 2px solid $blue
    border-radius 2px
    background $blue
    color white