
//Формы
input[type=text]
    border: 1px solid white
    padding 2px 2px 2px 5px
    line-height 32px


input[type=submit], .btnSubmit
    border: 1px solid $blueDark
    background $blueDark
    color white
    line-height 32px
    padding 2px 25px 2px 25px
    cursor pointer
    trns(0.5s,background)
    &:hover
        background $blue



//Заголовки и текст
h1
    font-weight bold
    font-size 30px
    margin-bottom 20px

h2
    font-weight bold
    font-size 24px
    margin-bottom 15px

p
    font-size 16px
    line-height 24px
    margin-bottom 10px
    font-weight 400
