$gray = #5b5958 //Новый
$grayLight = lightness($gray, 95%) //Новый

$blue = #538dc1 //Новый
$blueLight = lightness($blue, 50%)
$blueDark = darken($blue, 50%)
$yellow = #f3ca30 //Новый
$beige = #dfd5cd
$cream = #d095a1



