@import "./lib/smart-grid.styl"
@import "./lib/mixin-lib.styl"
@import "./lib/var-lib.styl"
@import "./lib/fonts-lib.styl"
reset();
@import "./lib/style-lib.styl"


webfont('Roboto', 'Roboto-Regular', true, 400)
webfont('Roboto', 'Roboto-Medium', true, 500)
webfont('Roboto', 'Roboto-Bold', true, 600)
webfont('Roboto', 'Roboto-Italic', true, normal, italic)




*
    box-sizing border-box

//    BEM____
.phoneline
    row-flex()
    flex-direction column
    justify-content center


    height 100%
    &__number
        col()
        text-align center
        padding 3px
        font-weight bold
        &-footer
            text-align left
            color $red


.footerBlock
    col()
    size(3)

    &__title
        color #fff
        font-size 18px
        font-weight 500
        .bdr
            bdr(bottom, $grayLight, 2px )
    &__body
        margin-top 45px
    &__body-social
        width 50%




//    BEM____-END


body
    font: 16px 'Roboto';
    font-weight 400
    color $gray

a
        text-decoration none

.wrapper
    wrapper()
    min-width 1200px //Против адаптивной верстки


//.debug
//    debug(rgba(0, 0, 0, 0.5), 1px solid #666)




.upLine
    width 100%
    background $grayDark


.row
    row-flex()



.topMenu
    col()
    size(8)
    ul
        li
            float left
            a
                padding 0 15px
                line-height 65px
                display block
                color #ffffff
                trns(0.5s, background)
                &:hover
                    background $gray



.search
    col()
    size(4)
    line-height 65px
    text-align right
    &__label
        width 70%

    &__submit
        min-width 70px
        width 30%



header
    row-flex()
    justify-content center
    .logo
        col()
        size(4)

    .phone
        col()
        size(4)

    .callback
        col()
        size(4)
        
        margin auto

        &__bg
            background url("img/bg__callback.png") no-repeat right
            //background blue
            display block
            width 43%
            height 47px
            float left



        &__link

            float right
            width 53%
            height 47px
            padding-left 15px
            padding-top 5px
            font-size 16px
            background url("img/bg__separator.png") no-repeat 0 0
            a
                color $grayDark
                trns(0.5s, color)
                &:hover
                    color $blueDark







.middleLine
    background $blueDark
    width 100%
    height 65px


.middleMenu
    display inline-block
    ul
        li
            float: left;
            a
                display block
                padding 0 15px
                line-height 65px
                color white
                trns(0.5s, background)
                &:hover
                    background $blue



.bannerContent
    row-flex()
    margin-bottom 40px

.banner
    max-width 1920px
    width 100%
    height 645px
    position absolute
    z-index -1
    background url("img/banner.jpg") no-repeat 0 0
    margin 0 auto
    margin-bottom 40px
    



.appeal
    col()
    size(8)

    background url("img/img__motivation.png") no-repeat 0 100px




.subscribe
    col()
    size(4)
    margin-top 160px
    text-align center
    height 485px
    &__head
        background $blueDark
        line-height 65px
        color white
        font-size 20px
    &__body
        background url("img/bg__form.png")
        padding 25px 0
        .error_name
            display block
        form
            input[type=text]
                width 80%
                margin 12px 0
            input[type=submit]
                margin-top 20px
                font-size 18px




.content
    row-flex()
    margin-bottom 150px
    &__cat
        justify-content flex-end
    .leftSide
        col()
        size(8)
    .rightSide
        col()
        size(4)
        .comments
            bs(0.5)
            bdrOne($grayLight)
            &__head
                line-height 65px
                color white
                font-size 20px
                text-align center
                background $gray
            &__body
                height 500px






.bottomLine
    height 365px
    background $grayDark

footer
    padding-top 15px

.footerRow
    row-flex()




.footerMenu
    ul
        li
            padding 4px 0
            a
                color #ffffff
                trns(0.2s, color )
                &:hover
                    color $red

.footerSocial
    a
        float left
        margin 2.5px 5px



.breadcrumbs
    order(0)
    col()
    size(12)

    ul
        line-height 65px
        padding-left 15px
        li
            display inline-block
            a
                display block
                color $grayDark

.contentBlock
    order(2)
    col()
    size(9)
    margin-bottom 20px
.tiledMenu
    order(2)
    col()
    size(9)
    align-self flex-start
    margin-bottom 150px
    &__title
        font-size 16px
        color $gray
        font-style: italic
        bdr(bottom, $grayLight)



.tiledItem
    col()
    size(12)
    margin 15px 0
    clearfix()
    &__img
        display block
        float left
        width 44%
    &__title
        float right
        width 56%
        padding-left 30px
        padding-right 30px
        padding-bottom 15px
        font-size 1.6rem
        color $gray
        font-weight bold

    &__descrpt
        float right
        width 56%
        padding-left 30px
    &__about
        float right
        width 56%
        padding-left 30px
        text-align right
        color $red
        font-weight bold
        trns(0.5s, color)
        &:hover
            color $blueDark




.leftMenu
    order(1)


    col()
    size(3)

    &__title
        line-height 65px
        color white
        font-size 20px
        text-align center
        background $blueDark
    ul
        bdrOne($grayLight)
        li
            bdr(bottom, $grayLight)
            a
                display block
                padding 15px 15px 15px 15px
                color $grayDark
                font-size 18px
                trns(0.5s, background )
                background url("img/ico__arrowMenu.png") 98% 50% no-repeat

                &:hover
                    background-color $blue
                    background-image url("img/ico__arrowMenu-hover.png")
                    color white





























