@import "./lib/smart-grid.styl"
@import "./lib/mixin-lib.styl"
@import "./lib/var-lib.styl"
@import "./lib/style-lib.styl"
reset();
*
    box-sizing border-box
body
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color $gray

a
        text-decoration none

.wrapper
    wrapper()
    min-width 1200px //Против адаптивной верстки


//.debug
//    debug(rgba(0, 0, 0, 0.5), 1px solid #666)
























