@import "./lib/smart-grid.styl"
@import "./lib/mixin-lib.styl"
@import "./lib/var-lib.styl"
@import "./lib/style-lib.styl"
reset();
*
    box-sizing border-box
body
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color $gray

a
        text-decoration none




.wrapper
    wrapper()
    min-width 1200px //Против адаптивной верстки


//.debug
//    debug(rgba(0, 0, 0, 0.5), 1px solid #666)



.upLine
    width 100%
    bdr(top, $blue, 3px)
header
    row-float()

    .topMenu
        col()
        col-float()
        size(6)
        line-height 1.5rem
        bdr(bottom, $grayLight)
        ul
            clearfix()

            li
                float left
                a
                    padding 5px 15px
                    display block
                    color $gray
                    ts(0.2, $grayLight)
                    font-weight bold
                    trns(0.5s, background)
                    //trns(0.5s, color )
                    &:hover
                        background $blue
                        color white

    .search
        col()
        col-float()
        size(6)
        bdr(bottom, $grayLight)
        text-align right
        padding-right 15px
        padding-top 5px
        padding-bottom  5px
        line-height 1.5rem

    .logo
        col()
        col-float()
        size(4)
        background red

    .phone
        col()
        col-float()
        size(4)
        background blue
    .callback
        col()
        col-float()
        size(4)
        background yellow


.middleMenu
    background $blue
    width 100%
    clearfix()
    bs(0.5, $blueDark, $blueDark)

    ul


        li
            float left


            a
                padding 10px 15px
                display block
                bdr(right, $blueLight)
                color white
                ts(1, $blueDark)
                trns(0.5s, background)
                &:hover
                    background $blueDark
















































































